@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}

.container {
    width: 100%;
}

.wrapper {
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

#header {
    margin-bottom: 20px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    background-color: rgb(247, 236, 255);
    border-radius: 10px; 
}

#animeInput {
    width: 100%;
}

textarea {
    white-space: pre-wrap;
}

label {
    letter-spacing: 1px;
}

input {
    width: 100%;
}

.twoColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.threeSection {
    width: 30%;
    margin-bottom: 20px;
}



.formSection {
    width: 45%;
    margin-bottom: 20px;
}

.title {
    font-size: 1em;
}

.navigation {
    text-align: center;
}

.navigation a {
    margin: 0 10px;
}

.fullepisode {
    width: 10px;
    margin: auto;
}

.twoColumn {
    display: flex;
    flex-direction: row;
}

.metaContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    white-space: pre-wrap;
}

.display {
    margin-top: 10px;
    width: 100%;
    min-height: 20px;
    border: .1px solid;
    border-radius: 2px;
    padding: 10px;
}